[submodule "libraries/rise-node"]
	path = libraries/rise-node
	url = https://github.com/RiseVision/rise-node.git
    branch = feature/rest-docs
[submodule "libraries/rise-ts"]
	path = libraries/rise-ts
	url = https://github.com/RiseVision/rise-ts.git
