@value top-bar-height from '../../styles/variables/layout.css';
@value rise-icon-collapse from '../../styles/variables/media.css';

.container {
  align-items: center;
  box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.2);
  display: flex;
  flex-direction: row;
  height: top-bar-height;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background: #fff;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  height: 100%;
  align-items: center;
  flex-shrink: 0;
}

.logo:hover {
  cursor: pointer;
}

.logoText {
  display: flex;
  flex-direction: row;
  padding-left: 1em;
}

.logoHeader {
  font-weight: bold;
}

.logoSeparator {
  padding: 0 0.25em;
}

.logoSubheader {
}

@media only screen and (max-width: rise-icon-collapse) {
  .logoSeparator,
  .logoSubheader {
    display: none;
  }
}
