@value text-color from '../../../styles/variables/colors';
@value fly-out-collapse from '../../../styles/variables/media';

@define-mixin inactive-menu {
  top: 3.5em;
  opacity: 0;
  pointer-events: none;
}

@define-mixin active-menu {
  top: 4em;
  opacity: 1;
  pointer-events: initial;
}

.container {
  position: relative;
}

.active,
.activeItemParent {
  font-weight: bold;
}

.items {
  position: absolute;
  list-style: none;
  background: #fff;
  padding: 1em;
  border-radius: 0.5em;
  right: 1em;
  width: 100%;
  box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.1);
  transition: all 0.3s ease-in-out;

  & > li > a {
    padding: 1em;
    line-height: 3em;
    color: text-color;
  }

  @mixin inactive-menu;

  &:hover {
    @mixin active-menu;
  }
}

.name {
  line-height: 1.5em;

  &:hover {
    cursor: pointer;

    & + .items {
      @mixin active-menu;
    }
  }
}

@media only screen and (max-width: fly-out-collapse) {
  .items {
    opacity: 1 !important;
    pointer-events: initial !important;
    position: static;
    padding: 0.5em 0 0 1em;
    list-style: none;
    box-shadow: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      @mixin inactive-menu;
    }

    & > li > a {
      padding: 0;
      line-height: 3em;
      color: text-color;
    }
  }

  .name {
    line-height: 3em;

    &:hover {
      cursor: pointer;

      & + .items {
        @mixin inactive-menu;
      }
    }
  }
}
