@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .fancy-scroll {
    background-color: rgba(0, 0, 0, 0);
    -webkit-background-clip: text;
    transition: background-color 0.5s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.18);
    }

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: inherit;
    }
  }
}
