.fancy-scroll {
  &::-webkit-scrollbar-track {
    border: 4px solid #fff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar {
    width: 9px;
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 9px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
  }
}
