@global-import 'sanitize.css';

@value text-color from '../../styles/variables/colors';
@value top-bar-height from '../../styles/variables/layout';

:global(html),
:global(body),
:root,
:global(#app),
.container {
  height: 100%;
  width: 100%;
  color: text-color;
  overflow-x: hidden;
}

.content {
  padding-top: top-bar-height;
  position: relative;
  height: 100%;
  width: 100%;
}
