@value fly-out-collapse from '../../styles/variables/media';

.container {
  margin: 0 auto;
  max-width: 90em;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  max-height: 100%;
}

.table-of-contents {
  flex-shrink: 0;
  padding-right: 1em;
  overflow-y: auto;
  margin-right: 2em;
}

.content {
  overflow-x: hidden;
  width: 100%;
}

@media only screen and (max-width: fly-out-collapse) {
  .table-of-contents {
    margin: 0;
  }
}
