.container {
  padding-top: 3em;
  text-indent: -0.5em;
  padding-left: 2em;
  flex-shrink: 0;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.85em;
}

.links {
  padding-left: 0;
  list-style: none;
}

.link {
  color: #4a90e2; /* @TODO make global color variable */
  text-decoration: none;
  line-height: 1.5em;
}

.spacer {
  display: inline-block;
  width: 1em;
}
