@value toc-collapse from '../../styles/variables/media';

@global-import 'highlight.js/styles/github.css';

.container {
  position: relative;
  animation: fadein 0.2s;
  padding: 0 1em 4em 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.page-container {
  width: 100%;
  max-width: 50em;
  flex-shrink: 2;

  &.with-toc {
    width: calc(100% - 15em);
  }

  & > div {
    width: 100%;
  }

  :global(a) {
    color: #4a90e2; /* @TODO make global color variable */
    text-decoration: none;
  }

  :global(blockquote) {
    line-height: 1.5rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: #0086b3;
    background: #f0f8ff;
    margin-left: 0;
    border-radius: 0.5em;
    padding: 0.1em 1em 1em 1em;
  }

  /* Headings */
  :global(h1),
  :global(h2),
  :global(h3),
  :global(h4),
  :global(h5),
  :global(h6) {
    margin-top: 2rem;
    margin-bottom: 0;
    line-height: 1.5rem;
  }

  :global(h1) {
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 2.75rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
    letter-spacing: 0.1em;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  }

  :global(h2) {
    font-size: 1.85rem;
    line-height: 2rem;
    margin-top: 2.5rem;
  }

  :global(h3) {
    font-size: 1.5rem;
  }

  :global(h4) {
    font-size: 1.2rem;
  }

  :global(h5) {
    font-size: 1rem;
  }

  :global(h6) {
    font-size: 0.8rem;
  }

  /* Tables */
  :global(table) {
    margin-top: 1.25rem;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
  }

  :global(p) {
    line-height: 1.75em;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  :global(ul),
  :global(ol) {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  :global(code) {
    padding: 0.2em;
    border-radius: 0.5em;
    padding: 0.2em 0.4em;
    border-radius: 0.4em;
    background: hsla(0, 0%, 50%, 0.1);
  }

  :global(pre code) {
    padding: 1em;
  }

  :global(table td),
  :global(table th) {
    padding: 0.5em 0.75em;
    border: 1px solid #e5ecf4; /* @TODO make global color variable */
    line-height: 1.5rem;
    min-width: 7em;
    text-align: left;
  }

  :global(ul li),
  :global(ol li) {
    line-height: 1.5rem;
  }

  :global(ul ul),
  :global(ol ul),
  :global(ul ol),
  :global(ol ol) {
    margin-top: 0;
    margin-bottom: 0;
  }

  :global(.table-wrapper) {
    width: 100%;
    overflow-x: auto;
  }

  :global(table td[align="center"]) {
    text-align: center;
  }

  :global(table td[align="right"]) {
    text-align: right;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: toc-collapse) {
  .container {
    flex-direction: column-reverse;
  }

  .page-container.with-toc {
    width: 100%;
  }
}
