@value fly-out-collapse from '../../../styles/variables/media';

.container {
}

.name {
  color: #666; /* @TODO make global color */
  line-height: 1.5em;
}

.name:hover {
  cursor: pointer;
}

.active {
  font-weight: bold;
}

.items {
  list-style: none;
  padding-left: 1em;
  display: none;
}

.active + .items,
.activeItems {
  display: block;
}

@media only screen and (max-width: fly-out-collapse) {
  .name {
    line-height: 2.5em;
  }
}
